@import "variables";
@import "mixins";

a {
	color: $black;
}

.btn, .woocommerce ul.products li.product .button {
	display: inline-block;
	padding: 0.7rem 1.3rem;
	background: $orange;
	color: $white;
	border-bottom: 4px solid darken($orange, 10);
	font-size: 1rem;
	text-transform: uppercase;
	text-decoration: none;
	position: relative;
	overflow: hidden;
	vertical-align: middle;
	font-family: 'Myriad Reg', sans-serif;
	-webkit-border-radius: 0;
	        border-radius: 0;
	@include transition(0.7s);

	&:hover {
			background: darken($orange, 10);
			color: #FFF;
			border-bottom: 4px solid $orange;
			
			@include transition(0.5s);
	}
	@include breakpoint($tablet) {
			width: 100%;
			text-align: center;
			margin-bottom: 1em;
			padding: 1rem 0.5em;
			height: auto;
	}
	@include breakpoint($phone) {
				width: 100%;
				text-align: center;
				margin-bottom: 1em;
				padding: 1rem 0.5em;
				margin-right: auto;
				margin-left: auto;
	}
}


