@font-face {
	font-family: 'Myriad Reg';
	src: url('../fonts/MyriadPro-Regular_0.eot');
	src: local('☺'), url('../fonts/MyriadPro-Regular_0.woff') format('woff'), url('../fonts/MyriadPro-Regular_0.ttf') format('truetype'), url('../fonts/MyriadPro-Regular_0.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Bold';
	src: url('../fonts/MyriadPro-Semibold_0.eot');
	src: local('☺'), url('../fonts/MyriadPro-Semibold_0.woff') format('woff'), url('../fonts/MyriadPro-Semibold_0.ttf') format('truetype'), url('../fonts/MyriadPro-Semibold_0.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad It';
	src: url('../fonts/MyriadPro-It_0.eot');
	src: local('☺'), url('../fonts/MyriadPro-It_0.woff') format('woff'), url('../fonts/MyriadPro-It_0.ttf') format('truetype'), url('../fonts/MyriadPro-It_0.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Cond';
	src: url('../fonts/MyriadPro-Cond_0.eot');
	src: local('☺'), url('../fonts/MyriadPro-Cond_0.woff') format('woff'), url('../fonts/MyriadPro-Cond_0.ttf') format('truetype'), url('../fonts/MyriadPro-Cond_0.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}