// Color Palette
$orange: #f14500;
$gray: #232324;
$white: #fff;
$black: #000;

// Media queries
$phone: (max-width: 768px);
$tablet: (max-width: 1020px);
$desktop: (max-width: 1600px);
$large: (min-width: 1920px);