@import "susy";
@import "breakpoint";

//reset
@import "reset";

//variables
@import "variables";

//mixins
@import "mixins";

//partials
@import "buttons";
@import "nav";


//fonts
@import "fonts";

//Susy settings
$susy: (
  columns: 12,
  gutter-position: inside,
  gutters: 0,
  math: fluid,
  output: float,
);

*, :after, :before {
	box-sizing: border-box;
}

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: $orange;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 5px;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
    width: 10px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0.1); 
    -webkit-border-radius: 0;
    border-radius: 0;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0;
    border-radius: 0;
    background: transparentize($black, 0.7); 
    -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0.5);
     @include transition(0.5s); 
    
    &:hover {
    	background: $orange;
    	@include transition(0.5s);
    }
}
::-webkit-scrollbar-thumb:window-inactive {
    background: transparentize($black, 0.4); 
}

body {
	font-size: 16px;
	font-family: 'Myriad It', sans-serif;
	font-weight: 400;
	height: auto;
	overflow-x: hidden;
}

h1, h2, h3, h4 {
	font-weight: 400;
	text-transform: none;
}


h2 {
	font-size: 1.8rem;
	
	// &:after {
	// 	display: block;
	// 	content: "";
	// 	width: 50px;
	// 	height: 3px;
	// 	margin-top: 0.4rem;
	// 	margin-bottom: 3rem;
	// 	background-color: $red;
	// }
}

img {
	max-width: 100%;
}

section {
	position: relative;
}

h1 {
	font-size: 2rem;
	span {
		color: $orange;
	}
}

.container {
	@include container(1200px);
	@include breakpoint($tablet) {
		@include container(100%);
		padding-left: 1rem;
		padding-right: 1rem;
	}
}

header#top {
	height: 700px;
	background: url(../img/header-bg.jpg) center center no-repeat;
	@include background-size(cover);
	background-attachment: fixed;
	color: #FFF;
	border-bottom: 10px solid $orange;
	@include breakpoint($tablet) {
		height: auto;
		padding-bottom: 40px;
	}
	
	.offer {
		padding-top: 4rem;
		
		.container {
			h1 {
				font-size: 2.5rem;
				text-align: center;
				text-transform: none;
			}

			.icons {
				clear: both;
				margin-top: 5rem;
				
				.icon-col {
					@include span(3 first);
					@include breakpoint($tablet) {
						@include span(6 first);
					}
					
					.img {
						display: flex;
						margin: 0 auto;
						width: 100px;
						height: 100px;
						background: $orange;
						-webkit-align-items: center;
						        align-items: center;
						-webkit-justify-content: center;
						        justify-content: center;
						
						i {
							font-size: 3rem;
						}
					}

					.text {
						padding: 2rem 2rem 2rem 3rem;
						@include breakpoint($tablet) {
							padding: 2rem  1rem;
						}
					}
				}
			}
		}

	}
}

header#top.single-header {
	height: 300px;
	background: url(../img/single-header-bg.jpg) center center no-repeat;
	@include background-size(cover);
	border-bottom: 5px solid $orange;
	@include breakpoint($tablet) {
		height: auto;
		padding-bottom: 2rem;
	}
	
	.offer {
		padding-top: 3rem;
		@include breakpoint($tablet) {
			padding-top: 1rem;
			
			h1 {
				font-size: 2rem;
			}
		}
	}
}

header#top.single-header.shop-header {
	height: 135px;
	border-bottom: none;
	
	.offer {
		padding-top: 0;
	}
}

#single-content {
	padding: 80px 0;
	background: darken($white, 10);
	
	.container {
		p {
			margin-bottom: 1rem;
		}
	}
}

.fixed-menu {
	position: fixed;
	left: -10%;
	top: 1rem;
	width: 50px;
	height: 50px;
	text-align: center;
	z-index: 500;
	opacity: 0;
	@include transition(0.7s);
	@include breakpoint($tablet) {
		display: none;
	}
	
	a {
		text-decoration: none;
	}
	
	img {
		display: block;
		margin: auto;
		max-width: 70%;
		@include transition(0.7s);
	}

	p {
		font-size: 0.8rem;
		color: $orange;
		margin-top: 0.3rem;
		@include transition(0.7s);
	}

	&:hover {
		img {
			@include transform(rotate(360deg));
			@include transition(0.7s);
		}

		p {
			letter-spacing: 0.1rem;
			@include transition(0.7s);
		}
	}
}

.fixed-contacts {
	position: fixed;
	right: 10%;
	top: 1rem;
	width: 50px;
	height: 50px;
	z-index: 500;
	opacity: 0;
	@include transition(0.7s);
	@include breakpoint($tablet) {
		display: none;
	}
	
	a {
		text-decoration: none;
	}
	
	img {
		display: block;
		margin: auto;
		max-width: 70%;
		@include transition(0.7s);
	}

	p {
		font-size: 0.7rem;
		color: $orange;
		margin-top: 0.3rem;
		@include transition(0.7s);
	}

	&:hover {
		img {
			@include transform(rotate(360deg));
			@include transition(0.7s);
		}

		p {
			letter-spacing: 0.05rem;
			@include transition(0.7s);
		}
	}
}

.up-arrow {
	position: fixed;
	right: 1%;
	bottom: -4rem;
	opacity: 0;
	z-index: 500;
	@include transition(0.7s);
	@include breakpoint($tablet) {
		display: none;
	}

	a {
		display: flex;
		width: 40px;
		height: 40px;
		background: $orange;
		color: #FFF;
		text-decoration: none;
		padding-top: 0.1rem;
		@include transition(0.7s);
		-webkit-justify-content: center;
		        justify-content: center;
		-webkit-border-radius: 50%;
		        border-radius: 50%;
		
		i {
			font-size: 2rem;
		}
	}

	&:hover {
		a {
			background: darken($orange, 10);
			@include transition(0.7s);
		}
	}
}

#categories {
	padding: 80px 0;
	background: url(../img/store-bg.jpg) center center no-repeat;
	@include background-size(cover);
	color: #FFF;
	text-align: center;
	
	.container {
		@include container(1000px);
		
		h1 {
			margin-bottom: 2rem;
		}
		.cat-item {
			@include span(3 first);
			margin-bottom: 3rem;
			@include breakpoint($tablet) {
				@include span(6 first);
			}
			
			a {
				text-decoration: none;
				
				&:hover {
					color: $orange;
				}
				.block {
					margin: auto;
					width: 200px;
					height: 200px;
					border: 2px solid $orange;
					text-align: center;
					color: #FFF;
					padding: 1rem;
					@include transition(0.7s);
					display: flex;
					-webkit-align-items: center;
					        align-items: center;
					-webkit-justify-content: center;
					        justify-content: center;
					@include breakpoint($tablet) {
						width: 80%;
						height: 100px;
					}
					
					&:hover {
						@include background-size(110%);
						@include transition(0.7s);
						color: $orange;
					}
				}

				.block-1 {
					background: url(../img/categories/cat-1.jpg) center center no-repeat;
					@include background-size(100%);
				}
				.block-2 {
					background: url(../img/categories/cat-2.jpg) center center no-repeat;
					@include background-size(100%);
				}
				.block-3 {
					background: url(../img/categories/cat-3.jpg) center center no-repeat;
					@include background-size(100%);
				}
				.block-4 {
					background: url(../img/categories/cat-4.jpg) center center no-repeat;
					@include background-size(100%);
				}
				.block-5 {
					background: url(../img/categories/cat-5.jpg) center center no-repeat;
					@include background-size(100%);
				}
				.block-6 {
					background: url(../img/categories/cat-6.jpg) center center no-repeat;
					@include background-size(100%);
				}
				.block-7 {
					background: url(../img/categories/cat-7.jpg) center center no-repeat;
					@include background-size(100%);
				}
				.block-8 {
					background: url(../img/categories/cat-8.jpg) center center no-repeat;
					@include background-size(100%);
				}
				.block-9 {
					background: url(../img/categories/cat-9.jpg) center center no-repeat;
					@include background-size(100%);
				}
				.block-10 {
					background: url(../img/categories/cat-10.jpg) center center no-repeat;
					@include background-size(100%);
				}
				.block-11 {
					background: url(../img/categories/cat-11.jpg) center center no-repeat;
					@include background-size(100%);
				}
				.block-12 {
					background: url(../img/categories/cat-12.jpg) center center no-repeat;
					@include background-size(100%);
				}
			}
		}

		.btn {
			clear: both;
		}
	}
}

#sp-deals {
	padding: 100px 0;
	background: url(../img/sp-deals-bg.jpg) center center no-repeat;
	@include background-size(cover);
	text-align: center;
	
	.container {
		h1 {
			margin-bottom: 2rem;
		}

		p {
			margin-bottom: 2rem;
			font-size: 1.2rem;
		}
	}
}

#about {
	padding: 80px 0;
	background: url(../img/about-bg.jpg) center center no-repeat;
	@include background-size(cover);
	background-attachment: fixed;
	text-align: center;
	color: darken($white, 10);
	
	.container {
		
		h1 {
			margin-bottom: 4rem;
		}

		.number-col {
			@include span(4 first);
			margin-bottom: 4rem;
			padding: 0 4rem;
			@include breakpoint($tablet) {
				@include span(6 first);
				padding: 0 1rem;
			}
			
			h4 {
				font-size: 4rem;
				margin-bottom: 1rem;
				position: relative;
				display: inline-block;
				z-index: 1;
				font-family: 'Myriad Bold', sans-serif;
				@include breakpoint($tablet) {
					font-size: 3rem;
				}
				
				&:before {
					content: "";
					position: absolute;
					left: -10px;
					width: 40px;
					height: 40px;
					display: block;
					border: 3px solid $orange;
					z-index: -1;
				}
			}
		}
	}
}

#faq {
	padding: 80px 0;
	background: url(../img/faq-bg.jpg) center center no-repeat;
	@include background-size(cover);
	
	.container {
		h1 {
			margin-bottom: 1rem;
			text-align: center;
		}

		.question {
			font-size: 1.2rem;
			font-family: 'Myriad Bold', sans-serif;
			margin-top: 2rem;
			margin-bottom: 0.5rem;
		}
	}
}

#partners {
	padding: 60px 0;
	
	.container {
		
		.partner-col {
			@include span(3);
			text-align: center;
			@include breakpoint($tablet) {
				@include span(12);
			}
			
			img {
				display: block;
				margin: auto;
				height: 80px;
				width: auto;
				max-width: auto;
				margin-bottom: 2rem;
				@include breakpoint($tablet) {
					margin-top: 2rem;
					margin-bottom: 1rem;
				}
			}
		}
	}
}

footer {
	padding: 40px 0 0;
	background: $gray;
	color: darken($white, 20);
	border-bottom: 10px solid $orange;
	
	.container {
		.logo {
			@include span(6 first);
			img {
				float: left;
				margin-right: 1rem;
				margin-bottom: 2rem;
			}
			p {
				float: left;
				font-size: 0.8rem;
			}
		}

		.contacts {
			@include span(6 last);
			text-align: right;
			
			a {
				color: #FFF;
			}

			i {
				color: $orange;
			}
		}

		.copyright {
			clear: both;
			border-top: 1px solid darken($white, 30);
			padding-top: 1rem;
			padding-bottom: 2.5rem;
			margin-top: 2rem;
			
			p.copy-text {
				float: left;
			}

			a {
				float: right;
				@include breakpoint($tablet) {
					float: left;
					margin-top: 1rem;
				}
			}
		}
	}
}

@import "modals";

